.episodes {
  padding: 55px 0;
}

.episodes__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 66px;
}

.episodes__h2 {
  letter-spacing: 2.88px;
}

.episodes__top-btn {
  margin-top: 26px;
  padding: 17px 18px;
  max-height: 51px;
  font-size: 18px;
}

.episodes__list {
  flex-direction: column;
  gap: 60px;
}

.episodes__item {
  display: flex;
  gap: 53px;
  padding: 40px;
  border-radius: 32px;
  background-color: #000;
}

.episodes__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8px;
}

.episodes__topic {
  margin-bottom: 51px;
  padding: 0 16px;
  font-size: 18px;
  line-height: 150%;
  border-radius: 6px;
  background-color: #191919;
}

.episodes__number {
  margin-bottom: 25px;
  color: #118da8;
  font-size: 18px;
}

.episodes__number:hover {
  color: #007089;
}

.episodes__name {
  margin-bottom: 27px;
  max-width: 686px;
}

.episodes__p {
  margin-bottom: 17px;
  max-width: 773px;
  line-height: 150%;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7);
}

.episodes__list-btn {
  padding: 17px 15px 17px 20px;
  font-size: 18px;
}
